html,body{
  margin: 0;
  padding: 0;
}

.error, .loading, .info{
  text-align: center;
  font-size: larger;
}

.heading{
  text-align: center;
}


.error,.loading{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
